# Batch Connect app configuration file
#
# @note Used to define the submitted cluster, title, description, and
#   hard-coded/user-defined attributes that make up this Batch Connect app.
---
cluster: "puhti"

# Define attribute values that aren't meant to be modified by the user within
# the Dashboard form
attributes:
  csc_slurm_partition:
    value: interactive
    select:
      - "interactive"
      - "small"
      - "test"
      - "fmi"
      - "fmitest"
  csc_slurm_reservation:
    partitions:
      - "interactive"
      - "small"
      - "test"
      - "fmi"
      - "fmitest"
  csc_memory:
    value: 2
  compiler:
      widget: select
      options:
          - "intel-oneapi-compilers/2022.1.0"
          - "gcc/11.3.0"
  modules:
      help: | 
          Space separated list of modules to load, e.g
          openmpi geoconda
  csc_reset_cache:
    app: "sys/ood-vscode"
  csc_extra_desc:
    desc: |
      <a href="https://docs.csc.fi/computing/webinterface/vscode/" target="_blank">Documentation</a>

form:
  - csc_extra_desc
  - csc_slurm_reservation
  - csc_slurm_project
  - csc_slurm_partition
  - csc_header_resources
  - csc_cores
  - csc_memory
  - csc_nvme
  - csc_time
  - csc_header_settings
  - compiler 
  - modules
  - bc_email_on_started
  - csc_reset_cache
  - csc_slurm_limits
